.container {
  min-height: 100vh;
  padding-top: 30px;
}
.result-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 10px;
}
.nav {
  position: fixed;
  width: 20vw;
  min-width: 150px;
  height: 100vh;
  align-content: center;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.projects {
  display: grid;
  grid-template-columns: minmax(150px, 20vw) auto;
}

.column-start {
  grid-column-start: 2;
  padding-left: 10px;
  padding-right: 10px;
}

.divider {
  border: 0;
  background-color: darkgray;
  height: 2px;
}

.contents {
  padding-left: 30px;
  padding-top: 50px;
}

.subheading {
  padding-left: 10px;
}

.nav-link {
  color: beige;
}
